
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

body {
  display: flex;
  flex-flow: column wrap;
}

#site-header {
  padding: 30px 0;
  flex: 1;
  justify-content: space-between;
  display: flex;
}

#site-footer {
  padding: 60px 0;
  flex: 1;
  display: flex;
}

#site-main {
  flex: 1;
  display: flex;
  justify-content: center;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  width: 100%;
  height: 100%;
  background-color: #cccc;
  color: #fff;
  border: 1px solid #fff;
}

.button-alt {
  color: blue;
  background-color: #fff;
}




/* ---- section ---- */

.deck {
  font-size: 30px;
  align-content: center;
}

.card {
  align-content: center;
}

.current.card {
  flex: 1;
}

.actions {
  flex: 1;
}

.next-card {
  flex: 1;
}